// primary color
@base-color: #193bde;
@auxiliary-color: #ccc;
@white: #fff;
@active-color: #3f62eb;
@accent-color: #f5623c;
@warning-color: #f7ba2a;
@success-color: #2ace4c;

// font color
@text-white: #fff;
// @important-text: #333;
@general-text: #333;
@auxiliary-text: #999;
@auti-white: #fff;

// pc-header
@pc-header-heigth: 60px;
@pc-header-max-width: 1560px;
@pc-header-padding-horizontal: 5vw;

// button
@btn-default-width: 150px;
@btn-default-height: 40px;
@btn-default-border-radius: 20px;
@btn-small-width: 116px;
@btn-small-height: 30px;
@btn-small-border-radius: 16px;
@btn-large-width: 320px;
@btn-large-height: 40px;
@btn-default-border-radius: 20px;
