// primary color
@base-color: #9bd2ff;
@accent-color: #f5623c;
@warning-color: #f7ba2a;
@success-color: #2ace4c;

// font color
@important-text: #333;
@general-text: #666;
@auxiliary-text: #999;
@auti-white: #fff;
